In [6]:
# 1.Ans:  for loop is used when we know the range of iteration .
# while loop is used to iterate a block of when until a condition is statisfied.
# Examples of it are given below
for i in range(9):
    print(i)
    
#code for while loop
sum=0;
n=10;
while n>sum :
    sum=sum+n
    n=n-1
print(sum)

0
1
2
3
4
5
6
7
8
10

In [8]:
# 2.Ans 
n=10;
sum=0;
product=1;
for i in range(1,11):
    sum=sum+i;
    product=product*i;
print("Sum of 10 natural numbers is",sum)
print("Product of 10 natural numbers is",product)

Sum of 10 natural numbers is 55
Product of 10 natural numbers is 3628800

In [31]:
# 3.Ans
units=int(input("Enter the number of units consumption"))
bill=0;
# if units<=100:
#     bill=units*4.5;
# elif 100<units<=200:
#     bill=(units-100)*6+bill;
# elif 200<units<=300:
#     bill=(units-200)*10+bill;
# elif 300<units:
#     bill=(units-300)*20+bill;
if units>300:
    bill=(units-300)*20+100*10+100*6+4.5*100
elif 300>=units>200:
    bill=(units-200)*10+100*6+4.5*100
elif 200>=units>100:
    bill=(units-100)*6+100*4.5
elif 100>=units:
    bill=umits*4.5

    
print(bill)

Enter the number of units consumption 310

2250.0

In [23]:
# 4.Ans
l=[]
for i in range(1,101):
    l.append(i)
l1=[]
for i in l:
    if (((i**3)%4==0 ) or ((i**3)%5==0)):
        l1.append(i**3)
l1


#While loop implementation
l2=[]
i=0
while i<100:
    if (((l[i]**3)%4==0 ) or ((l[i]**3)%5==0)):
        l1.append(l[i]**3)
    i=i+1
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000,
 8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [30]:
#5.Ans
s="I want to become a data scientist";
count=0
for i in s:
    if i=='a' or i=='e' or i=='i' or i=='u' or i=='o'or i=='A' or i=='E' or i=='I' or i=='U' or i=='O':
        count=count+1
count

12